.containerDetails {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linkBack {
  position: fixed;
  margin-top: 100px;
  align-self: flex-start;
  text-decoration: none;
  color: #1f581f;
  box-shadow: 2px 4px 6px rgba(32, 73, 32, 0.3);
  font-size: 20px;
}
.poster {
  width: 200px;
}
.header {
  margin: 0;
  color: #204920;
  font-size: 20px;
}
.description {
  margin-top: 50px;
}
.descriptiontext {
  font-size: 20px;
}
.navigation {
  margin-top: 30px;

  align-self: flex-start;
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.link {
  color: #66a266;
  text-decoration: none;
  transition: all 250ms linear;
}
.active {
  color: #253d25;
  font-size: 26px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .poster {
    width: 400px;
  }
  .header {
    margin-top: 30px;
    color: #204920;
  }
  .description {
    font-size: 20px;
    margin-top: 0;
  }
}
@media (min-width: 1280px) {
  .containerDetails {
    align-items: normal;
    flex-direction: row;
    column-gap: 150px;
  }
  .description {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    font-size: 30px;
  }
  .descriptiontext {
    font-size: 30px;
  }
  .header {
    margin: 0;
    font-size: 50px;
  }
  .linkBack {
    top: 20px;
    left: 50px;
  }
}
