.formWrapper {
  margin-top: 100px;
  display: flex;
  align-items: center;
}
.formInput {
  outline: none;
  border: none;
  background-color: transparent;
  width: 300px;
  border-bottom: 2px solid black;
  padding: 10px;
}
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
